<settings>

    <setting propertyKey="@Properties.ColorScheme" title="@Strings.ColorSchemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorBlack</listEntry>
            <listEntry value="1">@Strings.ColorWhite</listEntry>
            <listEntry value="2">@Strings.ColorFruit</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ActivityLeftField" title="@Strings.ActivityLeftFieldTitle">
        <settingConfig type="list">
            <listEntry value="7">@Strings.HeartRate</listEntry>
            <listEntry value="0">@Strings.Distance</listEntry>
            <listEntry value="1">@Strings.Steps</listEntry>
            <listEntry value="15">@Strings.Climbed</listEntry>
            <listEntry value="13">@Strings.FloorsClimbed</listEntry>
            <listEntry value="6">@Strings.Altitude</listEntry>
            <listEntry value="14">@Strings.Elevation</listEntry>
            <listEntry value="2">@Strings.Calories</listEntry>
            <listEntry value="11">@Strings.UserBMR</listEntry>
            <listEntry value="12">@Strings.ActivityFactor</listEntry>
            <!--listEntry value="3">@Strings.Seconds</listEntry-->
            <listEntry value="16">@Strings.Speed</listEntry>
            <listEntry value="18">@Strings.Cadence</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ActivityMidField" title="@Strings.ActivityMidFieldTitle">
        <settingConfig type="list">
            <listEntry value="7">@Strings.HeartRate</listEntry>
            <listEntry value="0">@Strings.Distance</listEntry>
            <listEntry value="1">@Strings.Steps</listEntry>
            <listEntry value="15">@Strings.Climbed</listEntry>
            <listEntry value="13">@Strings.FloorsClimbed</listEntry>
            <listEntry value="6">@Strings.Altitude</listEntry>
            <listEntry value="14">@Strings.Elevation</listEntry>
            <listEntry value="2">@Strings.Calories</listEntry>
            <listEntry value="11">@Strings.UserBMR</listEntry>
            <listEntry value="12">@Strings.ActivityFactor</listEntry>
            <!--listEntry value="3">@Strings.Seconds</listEntry-->
            <listEntry value="16">@Strings.Speed</listEntry>
            <listEntry value="18">@Strings.Cadence</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ActivityRightField" title="@Strings.ActivityRightFieldTitle">
        <settingConfig type="list">
            <listEntry value="7">@Strings.HeartRate</listEntry>
            <listEntry value="0">@Strings.Distance</listEntry>
            <listEntry value="1">@Strings.Steps</listEntry>
            <listEntry value="13">@Strings.FloorsClimbed</listEntry>
            <listEntry value="15">@Strings.Climbed</listEntry>
            <listEntry value="6">@Strings.Altitude</listEntry>
            <listEntry value="14">@Strings.Elevation</listEntry>
            <listEntry value="2">@Strings.Calories</listEntry>
            <listEntry value="11">@Strings.UserBMR</listEntry>
            <listEntry value="12">@Strings.ActivityFactor</listEntry>
            <!--listEntry value="3">@Strings.Seconds</listEntry-->
            <listEntry value="16">@Strings.Speed</listEntry>
            <listEntry value="18">@Strings.Cadence</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HintField" title="@Strings.HintFieldTitle">
        <settingConfig type="list">
            <!--listEntry value="3">@Strings.Seconds</listEntry-->
            <listEntry value="12">@Strings.ActivityFactor</listEntry>
            <listEntry value="8">@Strings.Temperature</listEntry>
            <listEntry value="9">@Strings.Pressure</listEntry>
            <listEntry value="1001">@Strings.PressurehPa</listEntry>
            <listEntry value="10">@Strings.PressureMmHg</listEntry>
        </settingConfig>
    </setting>

    <!--setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting-->

    <setting propertyKey="@Properties.ActivityFactor" title="@Strings.ActivityFactorSettingsTitle">
        <settingConfig type="numeric" />
    </setting>

    <setting propertyKey="@Properties.UseSecondsTime" title="@Strings.UseSecondsTimeTitle">
      <settingConfig type="boolean" />
    </setting>

</settings>
